/* Menu */
.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99999;
}

.menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px rgb(0, 140, 255);
  border-radius: 30px;
}

.menu {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-family: "coopbl";
  font-size: 2vw;
}

.menu:hover {
  text-shadow: 0 0 40px #a37fc3;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.menu-column {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 994px) {
  .menu-wrapper {
    display: none;
  }
}
