/* Font */
@font-face {
  font-family: "coopbl"; /*Can be any text*/
  src: local("COOPBL"), url("./assets/fonts/COOPBL.ttf") format("truetype");
}

/* Button */
.shadow_btn {
  font-family: "coopbl";
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
  font-weight: 300;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow_btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow_btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

/* Animate Float */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Typing Animate */
.heading-text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #ffff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.App {
  background-color: #121212;
  overflow-x: hidden;
}

/* Heading */
#banner {
  height: 50vw;
  background-image: url("./assets/img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-wraper {
  height: 50vw;
  align-items: center;
}

.heading-text {
  font-family: "coopbl";
  font-size: 4vw;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.8vw;
}

.heading-image {
  width: 30vw;
  animation: float 6s ease-in-out infinite;
}

/* About */
.about-section {
  padding-bottom: 10vw;
}

.about-title {
  font-family: "coopbl";
  font-size: 3vw;
}

.about-wrapper {
  height: 13vw;
  align-items: center;
}

.about-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 1.8vw;
  width: 80%;
}

/* Skills */
.skills-section {
  height: 50vw;
  background-image: url("./assets/img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.skills-title {
  display: flex;
  height: 15vw;
  align-items: center;
  justify-content: center;
  font-family: "coopbl";
  font-size: 3vw;
}

.skills-wrapper {
  height: 30vw;
  align-items: center;
  justify-content: center;
}

.skills-wrapper img {
  width: 8vw;
  animation: float 10s ease-in-out infinite;
}

.skills-column {
  display: flex;
  justify-content: center;
}

.skills-name {
  display: block;
  text-align: center;
  font-weight: 400;
  font-family: "coopbl";
  font-size: 1.3vw;
  margin-top: 10px;
}

/* Projects */
.projects-section {
  height: 50vw;
}

.projects-title {
  display: flex;
  height: 10vw;
  align-items: center;
  justify-content: center;
  font-family: "coopbl";
  font-size: 3vw;
}

.projects-wrapper {
  display: flex;
  height: 30vw;
  align-items: center;
  overflow-x: scroll;
}

.projects-wrapper::-webkit-scrollbar {
  display: none;
}

.projects-text {
  color: white;
  font-size: 3vw;
  font-family: "coopbl";
}

.projects-column {
  margin-left: 15px;
  margin-right: 15px;
}

/* Contact */
.contact-section {
  height: 70vw;
  background-image: url("./assets/img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-wrapper {
  display: flex;
  height: 30vw;
  align-items: center;
}

.contact-title {
  display: flex;
  height: 10vw;
  align-items: center;
  justify-content: center;
  font-family: "coopbl";
  font-size: 3vw;
}

.contact-icon {
  color: #27213e;

  font-size: 5vw;
}

.contact-icon:hover {
  color: white;
}

.contact-title-column {
  margin-bottom: 10px;
  font-family: "coopbl";
  font-size: 2vw;
}

/* Responsive */
@media screen and (max-width: 994px) {
  .shadow_btn {
    display: none;
  }

  .heading-text {
    margin-bottom: 0px;
  }

  .contact-title-column {
    font-size: 3vw;
  }
}
