/* Font */
@font-face {
  font-family: "coopbl"; /*Can be any text*/
  src: local("COOPBL"), url("./assets/fonts/COOPBL.ttf") format("truetype");
}

/* Button */
.shadow_btn {
  font-family: "coopbl";
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
  font-weight: 300;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow_btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow_btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

/* Animate Float */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.App {
  background-color: #121212;
  overflow-x: hidden;
}

/* Heading */
#banner {
  height: 50vw;
  background-image: url("./assets/img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-wraper {
  height: 50vw;
  align-items: center;
}

.heading-text {
  font-family: "coopbl";
  font-size: 4vw;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.8vw;
}

.heading-image {
  width: 30vw;
  animation: float 6s ease-in-out infinite;
}

/* About */
.about-section {
  padding-bottom: 10vw;
}

.about-title {
  font-family: "coopbl";
  font-size: 3vw;
}

.about-wrapper {
  height: 13vw;
  align-items: center;
}

.about-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 1.8vw;
  width: 80%;
}

/* Skills */
.skills-section {
  height: 50vw;
  background-image: url("./assets/img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.skills-title {
  display: flex;
  height: 15vw;
  align-items: center;
  justify-content: center;
  font-family: "coopbl";
  font-size: 3vw;
}

.skills-wrapper {
  height: 30vw;
  align-items: center;
  justify-content: center;
}

.skills-wrapper img {
  width: 8vw;
  animation: float 10s ease-in-out infinite;
}

.skills-column {
  display: flex;
  justify-content: center;
}

.skills-name {
  display: block;
  text-align: center;
  font-weight: 400;
  font-family: "coopbl";
  font-size: 1.3vw;
  margin-top: 10px;
}

/* Projects */
.projects-section {
  height: 50vw;
}

.projects-title {
  display: flex;
  height: 15vw;
  align-items: center;
  justify-content: center;
  font-family: "coopbl";
  font-size: 3vw;
}

.projects-wrapper {
  height: 25vw;
  align-items: center;
  justify-content: center;
}

.projects-column {
  display: flex;
  justify-content: center;
}

/* Responsive */
@media screen and (max-width: 994px) {
  .shadow_btn {
    font-size: 8px;
    padding: 5px 10px;
  }

  .heading-text {
    margin-bottom: 0px;
  }
}
